In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Downloads/50_startups.csv')

In [4]:
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
df['STATE'].value_counts()

STATE
New York      17
California    17
Florida       16
Name: count, dtype: int64

In [9]:
df.shape

(50, 5)

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [11]:
df['STATE']=pd.DataFrame(le.fit_transform(df['STATE']))

In [12]:
df['STATE'].value_counts()

STATE
2    17
0    17
1    16
Name: count, dtype: int64

In [13]:
X=df.drop(labels='STATE', axis=1)
Y=df['STATE']

In [15]:
X.head()

         RND      ADMIN        MKT     PROFIT
0  165349.20  136897.80  471784.10  192261.83
1  162597.70  151377.59  443898.53  191792.06
2  153441.51  101145.55  407934.54  191050.39
3  144372.41  118671.85  383199.62  182901.99
4  142107.34   91391.77  366168.42  166187.94

In [17]:
Y.head()

0    2
1    0
2    1
3    2
4    1
Name: STATE, dtype: int32

In [18]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [19]:
X=pd.DataFrame(ss.fit_transform(X), columns=X.columns)

In [21]:
X.head()

        RND     ADMIN       MKT    PROFIT
0  2.016411  0.560753  2.153943  2.011203
1  1.955860  1.082807  1.923600  1.999430
2  1.754364 -0.728257  1.626528  1.980842
3  1.554784 -0.096365  1.422210  1.776627
4  1.504937 -1.079919  1.281528  1.357740

In [22]:
from sklearn.model_selection import train_test_split

In [58]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In [59]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [60]:
model=lr.fit(xtrain,ytrain)

In [61]:
tr_pred=model.predict(xtrain)

In [62]:
ts_pred=model.predict(xtest)

In [63]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [64]:
tr_score=accuracy_score(ytrain,tr_pred)
ts_score=accuracy_score(ytest,ts_pred)
print(tr_score)
print(ts_score)

0.45
0.3

In [65]:
met=confusion_matrix(ytrain,tr_pred)

In [66]:
met

array([[7, 2, 5],
       [3, 4, 5],
       [5, 2, 7]], dtype=int64)

In [67]:
model.predict_proba(xtrain)

array([[0.37643157, 0.25369905, 0.36986938],
       [0.31107008, 0.3931016 , 0.29582832],
       [0.36744638, 0.22573219, 0.40682143],
       [0.36043115, 0.23075645, 0.40881241],
       [0.33223019, 0.35076673, 0.31700309],
       [0.36050613, 0.30742393, 0.33206994],
       [0.30447414, 0.28466799, 0.41085787],
       [0.33526169, 0.31172272, 0.35301559],
       [0.32567043, 0.36695425, 0.30737532],
       [0.38342498, 0.33529007, 0.28128494],
       [0.34886345, 0.36444703, 0.28668952],
       [0.37273825, 0.33841165, 0.28885009],
       [0.43310484, 0.22169192, 0.34520323],
       [0.3028467 , 0.48794303, 0.20921026],
       [0.35046818, 0.31138695, 0.33814488],
       [0.39535214, 0.24253544, 0.36211242],
       [0.30029781, 0.2989773 , 0.40072489],
       [0.31700969, 0.39056884, 0.29242148],
       [0.378325  , 0.22747995, 0.39419505],
       [0.37688405, 0.24892633, 0.37418962],
       [0.32485396, 0.25507697, 0.42006907],
       [0.35376241, 0.29172795, 0.35450965],
       [0.33855692, 0.323803  , 0.33764008],
       [0.3718782 , 0.32244705, 0.30567475],
       [0.34812777, 0.19478758, 0.45708465],
       [0.34403761, 0.29702904, 0.35893335],
       [0.34184809, 0.23676389, 0.42138802],
       [0.33970505, 0.29536324, 0.36493171],
       [0.38001495, 0.28666143, 0.33332362],
       [0.3386149 , 0.33063177, 0.33075333],
       [0.38185858, 0.30345494, 0.31468648],
       [0.33029986, 0.40019579, 0.26950435],
       [0.37719045, 0.30533321, 0.31747634],
       [0.32157031, 0.30666236, 0.37176733],
       [0.35343995, 0.24554565, 0.4010144 ],
       [0.3121617 , 0.42064768, 0.26719061],
       [0.37095915, 0.29429377, 0.33474708],
       [0.34335859, 0.21085624, 0.44578517],
       [0.34902056, 0.24893746, 0.40204198],
       [0.34605617, 0.23738726, 0.41655657]])